/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color:  #FF8DCB;
  --bg-image: url("../images/cover-image-light.png");
  --title-color: #FFC2E6;
  --title-shadow-color: #FF8DCB;
  --nav-alt-color: rgba(50, 49, 45, 0.4);
  --angle-color: #353430;
  --nav-active-color: #353430;
  --link-outline-color: #353430;
  --section-title-color: #353430;
  --decor-text-color: #353430;
  --bg-link-color: #ff8dcb;
  --button-text-color: #353430;
}

.theme-light .page {
  
  .header__rec {
    display: none;
  }

  /* Вам также нужно будет написать ряд подобных селекторов */

}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color:  #FF8DCB;
    --bg-image: url("../images/cover-image-light.png");
    --title-color: #FFC2E6;
    --title-shadow-color: #FF8DCB;
    --nav-alt-color: rgba(50, 49, 45, 0.4);
    --angle-color: #353430;
    --nav-active-color: #353430;
    --link-outline-color: #353430;
    --section-title-color: #353430;
    --decor-text-color: #353430;
    --bg-link-color: #ff8dcb;
    --button-text-color: #353430;
    
    .header__rec {
      display: none;
    }
  }
  /* Дублируем переменные светлой темы */
}


