/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg--color: #FFF1F7;
  --text-color: #353430;
  --accent-color:  #FF8DCB;
  --bg-image: url("../images/cover-image-light.png");
  --title-color: #FFC2E6;
  --title-shadow-color: #FF8DCB;
  --nav-alt-color: rgba(50, 49, 45, 0.4);
  --angle-color: #353430;
  --nav-active-color: #353430;
  --link-outline-color: #353430;
  --section-title-color: #353430;
  --decor-text-color: #353430;
  --bg-link-color: #ff8dcb;
}

.theme-light .page {
  
  .decorated-zone {
    position: relative;
  }
  .decorated-zone::before {
    content: "";
    position: absolute;
    top: var(--decor-up-top);
    right: var(--decor-up-right);
    width: 25px;
    height: 25px;
    border-top: 1px solid  var(--angle-color);
    border-right: 1px solid  var(--angle-color);
  }

  .decorated-zone::after {
    content: "";
    position: absolute;
    bottom: var(--decor-down-bottom);
    left: var(--decor-down-left);
    width: 25px;
    height: 25px;
    border-bottom: 1px solid  var(--angle-color);
    border-left: 1px solid  var(--angle-color);
  }

  .header__rec {
    display: none;
  }

  /* Вам также нужно будет написать ряд подобных селекторов */

}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --bg--color: #FFF1F7;
    --text-color: #353430;
    --accent-color:  #FF8DCB;
    --bg-image: url("../images/cover-image-light.png");
    --title-color: #FFC2E6;
    --title-shadow-color: #FF8DCB;
    --nav-alt-color: rgba(50, 49, 45, 0.4);
    --angle-color: #353430;
    --nav-active-color: #353430;
    --link-outline-color: #353430;
    --section-title-color: #353430;
    --decor-text-color: #353430;
    --bg-link-color: #ff8dcb;
    
    .header__rec {
      display: none;
    }

    .decorated-zone {
      position: relative;
    }

    .decorated-zone::before {
      content: "";
      position: absolute;
      top: var(--decor-up-top);
      right: var(--decor-up-right);
      width: 25px;
      height: 25px;
      border-top: 1px solid  var(--angle-color, #353430);
      border-right: 1px solid  var(--angle-color, #353430);
    }
  
    .decorated-zone::after {
      content: "";
      position: absolute;
      bottom: var(--decor-down-bottom);
      left: var(--decor-down-left);
      width: 25px;
      height: 25px;
      border-bottom: 1px solid  var(--angle-color, #353430);
      border-left: 1px solid  var(--angle-color, #353430);
    }
  }
  /* Дублируем переменные светлой темы */
}


